body {
  --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: var(--main-font);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --main-color: #377ed2;
  --links-color: #377ed2;
  --links-color-hover: #fbcc6a;
  --icons-color: #b51675;
}

.material-icons {
  font-family: 'Material Symbols Rounded';
  color: var(--icons-color);
  font-size: 30px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--links-color);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 8vh;
  border-bottom: #e2e2e2 solid 1px;
  z-index: 99;
}

.mainTitle {
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
  color: var(--links-color);
}

.navigationOptions {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-between;
  height: 100%;
}

.option {
  font-size: 25px;
  color: grey;
}

.option > div {
  display: flex;
  align-items: center;
  height: 100%;
  transition: inherit;
}

#createButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#createButton {
  border: var(--links-color) 1px solid;
  border-radius: 10px;
  font-size: medium;
  height: 70%;
  padding-left: 10px;
  padding-right: 10px;
  color: var(--links-color);
}

#createButton:hover {
  background-color: var(--links-color);
  color: white;
}

.mainDisplay {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 50px;
  min-height: 800px;
  width: 100vw;
  background-color: #f5f5f5;
}

.allPosts {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-top: 50px;
}

.postContainer {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.leftBar {
  display: flex;
  margin-right: 25px;
  flex-direction: column;
  color: grey;
}

.karmaContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 150px;
  gap: 5px;
  text-align: center;
}

.upvoteArrow,
.downvoteArrow,
.commentIcon,
.icon {
  border: 1px solid transparent;
  background-color: transparent;
  color: grey;
  border-radius: 10px;
  cursor: pointer;
}

.downvoteArrow {
  transform: rotate(180deg);
}

.upvoteArrow:hover {
  color: var(--icons-color);
  background-color: #ecd8e4;
}

.downvoteArrow:hover {
  color: var(--links-color);
  background-color: #ccdef3;
}

.voted {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}

.upvoteArrow.voted {
  color: #b51675;
}

.downvoteArrow.voted {
  color: #377ed2;
}

.post__karma {
  color: gray;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 300px;
  gap: 5px;
  text-align: center;
}

.commentIcon {
  color: grey;
}

.commentIcon:hover {
  background-color: rgb(227, 227, 227);
}

.post {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  text-align: justify;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  border-color: #dedede;
}

.post__author {
  color: grey;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.post__title {
  font-size: xx-large;
  font-weight: bold;
  color: black;
  padding-left: 40px;
  padding-right: 40px;
}

.post__author div,
.comment__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.post__dates {
  display: flex;
  flex-direction: row;
  padding-left: 40px;
  padding-right: 40px;
}

.post__createTime,
.comment__createTime,
.post__editTime,
.comment__editTime {
  color: grey;
  font-style: italic;
  font-size: small;
}

.comment__createTime,
.comment__editTime {
  cursor: help;
}

.post__text {
  font-size: larger;
  line-height: 36px;
  padding-left: 40px;
  padding-right: 40px;
}

.post__comments--indicator {
  border-top: solid 1px #dedede;
  padding-left: 40px;
  padding-right: 40px;
}

.post__interactions {
  padding-bottom: 40px;
}

.post__interactions,
.singlePost__interactions {
  display: flex;
  justify-content: left;
  color: grey;
  padding-left: 40px;
  padding-right: 40px;
}

.singlePost__interactions {
  border-top: 1px solid #dedede;
  padding-top: 20px;
}

.post__interactions--karma {
  margin-right: 50px;
}

.post__interactions--karma div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.post__interactions--comments div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.commentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 0 50px;
}

.comment__input {
  min-width: 100%;
  min-height: 100px;
  resize: vertical;
  border: solid 1px #dedede;
  border-radius: 10px;
  font-size: medium;
  padding: 15px;
  font-family: var(--main-font);
}

.comment__input::placeholder {
  font-size: medium;
  font-family: var(--main-font);
}

.comment__button {
  margin-top: 15px;
  max-height: 55px;
  align-self: flex-end;
}

.button {
  height: 70%;
  color: var(--links-color);
  background-color: transparent;
  border: var(--links-color) 1px solid;
  border-radius: 10px;
  font-size: medium;
  padding: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--links-color);
  color: white;
}

.post__comments {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  padding: 0 40px 40px 40px;
}

.deleted {
  color: grey;
}

.comment__thread {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.comment__data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment__text {
  margin-left: 35px;
  line-height: 30px;
}

.comment__options {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  color: #878a8c;
  height: 36px;
  margin-left: 30px;
  font-weight: 500;
}

.comment__options div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 3px 0 3px;
}

.comment__options div:hover {
  background-color: #e7e7e7;
  cursor: pointer;
  border-radius: 10px;
}

.comment__options__replySection {
  display: flex;
  height: 100%;
  align-items: center;
}

.reply {
  transform: rotate(180deg);
}

div.comment.depth1 {
  margin-left: 35px;
}

div.comment.depth2 {
  margin-left: 60px;
}

div.comment.depth3 {
  margin-left: 85px;
}

.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modalBackground.show {
  opacity: 1;
  pointer-events: visible;
}

.modalContent {
  width: 400px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 1);
}

.modalBackground.show .modalContent {
  transform: translateY(0);
}

.bottomBar {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #e5e5e5;
  color: grey;
}

.bottomBarOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomBarOptions > .option {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

#upArrow {
  color: grey;
}
