html {
  font-size: 16px;
}

body {
  --main-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: var(--main-font);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  --main-color: #377ed2;
  --links-color: #377ed2;
  --links-color-hover: #fbcc6a;
  --icons-color: #d2377e;
  --clickable-icons-color: grey;
  --border-lightgrey: solid 1px #dedede;
  --bg-main-style: #f5f5f5;
  --bg-sub-style: white;
  --option-style: grey;
  --main-button-font-color: white;
  --bg-button-lightgrey: rgb(227, 227, 227);
  --indicators-color: grey;
}

.material-icons {
  font-family: 'Material Symbols Rounded';
  color: var(--icons-color);
  font-size: 2rem;
}

/* Hides 'invalid API key' message from tinyMCE text editor */
.tox-notifications-container {
  display: none !important;
}

a {
  text-decoration: none;
  color: black;
  word-break: break-word;
}

a:hover {
  color: var(--links-color);
}

input {
  border-radius: 10px;
  padding: 0.313em;
  padding-left: 0.625em;
  border: var(--border-lightgrey);
}

.navBar {
  display: flex;
  flex-direction: row;
  row-gap: 1em;
  justify-content: space-between;
  height: fit-content;
  width: 100%;
  min-width: 360px;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 0.8em 0 0.8em 0;
  z-index: 2;
  background-color: var(--bg-sub-style);
  border-bottom: var(--border-lightgrey);
}

.mainTitle {
  font-size: 3rem;
  margin-left: 0.5em;
  cursor: pointer;
  color: var(--links-color);
}

.navigationOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: fit-content;
  height: 100%;
  column-gap: 2.5em;
  margin-right: 1.5em;
}

.option {
  font-size: 1.563em;
  color: var(--option-style);
}

.option > div {
  display: flex;
  align-items: center;
  height: 100%;
  transition: inherit;
}

#createButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#createButton {
  border: var(--links-color) 1px solid;
  border-radius: 10px;
  font-size: 1.2rem;
  height: 60%;
  padding: 0.625em;
  color: var(--links-color);
}

#createButton:hover {
  background-color: var(--links-color);
  color: var(--main-button-font-color);
}

.mainDisplay {
  display: flex;
  justify-content: center;
  padding-top: 13vh;
  padding-bottom: 5vh;
  min-height: 77vh;
  min-width: 360px;
  background-color: var(--bg-main-style);
}

.allPosts,
.createNewPost {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 5em;
  margin-top: 3.125em;
}

.createNewPost {
  row-gap: 1.875em;
}

.postContainer {
  display: flex;
  flex-direction: row;
  width: 60%;
}

.leftBar {
  display: flex;
  margin-right: 1.563em;
  flex-direction: column;
  color: var(--indicators-color);
}

.karmaContainer,
.commentContainer,
.postOptionsContainer {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 9.375em;
  gap: 0.313em;
  text-align: center;
}

.commentContainer {
  top: 18.75em;
}

.postOptionsContainer {
  top: 25.625em;
  row-gap: 2.188em;
}

.upvoteArrow,
.downvoteArrow,
.commentIcon,
.icon {
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: transparent;
  color: var(--clickable-icons-color);
  cursor: pointer;
}

.downvoteArrow,
.reply {
  transform: rotate(180deg);
}

.upvoteArrow:hover,
.cancelButton:hover {
  color: var(--icons-color);
  background-color: #ecd8e4;
}

.downvoteArrow:hover,
.acceptButton:hover {
  color: var(--links-color);
  background-color: #ccdef3;
}

.voted {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 200, 'opsz' 48;
}

.upvoteArrow.voted {
  color: var(--icons-color);
}

.downvoteArrow.voted {
  color: var(--main-color);
}

.commentIcon:hover,
.editButton:hover,
.deleteButton:hover,
.icon:hover {
  background-color: var(--bg-button-lightgrey);
}

.acceptButton,
.cancelButton {
  background: transparent;
  border: none;
  cursor: pointer;
}

.acceptButton {
  color: var(--main-color);
}

.cancelButton {
  color: var(--icons-color);
}

.editContainer {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.post {
  display: flex;
  flex-direction: column;
  row-gap: 0.938em;
  text-align: justify;
  background-color: var(--bg-sub-style);
  border: var(--border-lightgrey);
  border-radius: 10px;
  width: 100%;
  box-shadow: rgba(228, 228, 228, 0.384) 0.188em 0.188em;
}

.post__author {
  padding-left: 2.5em;
  padding-right: 2.5em;
  padding-top: 2.5em;
}

.post__title,
.edit__title {
  font-size: 2.3rem;
  font-weight: bold;
  padding-left: 1.08em;
  padding-right: 1.08em;
  white-space: pre-line;
}

.post__title::placeholder {
  font-style: italic;
}

.post__author div,
.comment__author {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.313em;
}

.username {
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow-x: hidden;
}

.comment__author {
  max-width: 50%;
}

.post__dates {
  display: flex;
  flex-direction: row;
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.post__createTime,
.comment__createTime,
.post__editTime,
.comment__editTime {
  color: var(--indicators-color);
  font-style: italic;
  font-size: 1rem;
}

.comment__createTime,
.comment__editTime {
  cursor: help;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.post__text,
.edit__text,
.about__text {
  font-size: 1.375rem;
  line-height: 2.0625em;
  padding-left: 1.82em;
  padding-right: 1.82em;
  text-align: justify;
  white-space: pre-line;
  word-break: break-word;
  overflow-y: hidden;
}

.about__text {
  padding: 0;
}

.gradient {
  -webkit-mask-image: linear-gradient(180deg, #000 80%, transparent);
  max-height: 25vh;
}

.edit {
  font-family: var(--main-font);
  width: 100%;
  padding: 0;
  margin: 0;
  resize: vertical;
  white-space: pre-line;
}

.post__interactions {
  padding-bottom: 2.5em;
}

.post__interactions,
.singlePost__interactions {
  display: flex;
  justify-content: left;
  color: var(--indicators-color);
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.singlePost__interactions {
  border-top: var(--border-lightgrey);
  padding-top: 1.25em;
}

.post__interactions--karma {
  margin-right: 3.125em;
}

.post__interactions--karma div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.2em;
}

.post__interactions--comments div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.2em;
}

.commentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.125em 0 3.125em;
}

.comment__input {
  width: 100%;
  min-height: 6.25em;
  resize: vertical;
  border: var(--border-lightgrey);
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 0.938em;
  font-family: var(--main-font);
  box-sizing: border-box;
  line-height: 1.875em;
}

.editing {
  border: dashed 1px var(--icons-color);
  border-radius: 10px;
}

.comment__input::placeholder {
  font-size: 1.1rem;
  font-family: var(--main-font);
  font-style: italic;
}

.comment__button {
  margin-top: 0.938em;
  max-height: 3.438em;
  align-self: flex-end;
}

.button {
  display: flex;
  align-items: center;
  height: 70%;
  color: var(--links-color);
  background-color: transparent;
  border: var(--links-color) 1px solid;
  border-radius: 10px;
  font-size: 1rem;
  padding: 0.938em;
  cursor: pointer;
}

.button:hover {
  background-color: var(--links-color);
  color: var(--main-button-font-color);
}

.post__comments {
  display: flex;
  flex-direction: column;
  row-gap: 2.5em;
  padding: 0 2.5em 2.5em 2.5em;
}

.deleted {
  color: grey;
}

.comment__thread {
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
}

.comment__data {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment__text {
  margin-left: 2.188em;
  line-height: 1.875em;
  white-space: pre-line;
  border: var(--border-lightgrey);
  border-radius: 10px;
  padding: 0.938em;
  word-break: break-word;
}

.comment__options {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.625em;
  height: 2.25em;
  margin-left: 1.875em;
  padding-left: 0.938em;
}

.comment__options div {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 0.188em 0 0.188em;
}

.comment__options__replySection {
  display: flex;
  height: 100%;
  align-items: center;
}

.replyArea,
.editArea {
  margin-left: 2.188em;
}

.bottomOption {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.938em;
  margin-top: 0.625em;
  height: 1.25em;
}

.button--grey {
  color: var(--clickable-icons-color);
  font-weight: 500;
  cursor: pointer;
  padding: 0.375em;
  border-radius: 10px;
}

.button--grey:hover {
  background-color: var(--bg-button-lightgrey);
}

.continue {
  width: fit-content;
  margin-left: 2.125em;
}

.continue:hover {
  color: var(--clickable-icons-color);
}

div.comment.depth1 {
  margin-left: 2.188em;
}

div.comment.depth2 {
  margin-left: 4.375em;
}

div.comment.depth3 {
  margin-left: 6.563em;
}

.modalBackground,
.popupModalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  position: fixed;
  opacity: 0;
  overflow: auto;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modalBackground.show,
.popupModalBackground.show {
  opacity: 1;
  pointer-events: visible;
}

.modalBackground.show .modalContent,
.errorPopupContainer.show {
  transform: translateY(0);
}

.modalContent,
.errorPopupContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.modalContent {
  width: 25em;
  height: 8.75em;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
}

.modalContent--upper {
  align-self: flex-end;
}

.modalContent--middle {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.deletePostButton {
  color: var(--icons-color);
  border-color: var(--icons-color);
}

.deletePostButton:hover {
  background-color: var(--icons-color);
}

.bottomBar {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #e5e5e5;
  color: var(--option-style);
}

.bottomBarOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.bottomBarOptions > .option {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 1rem;
  padding-left: 1.563em;
  padding-right: 1.563em;
  cursor: pointer;
}

#upArrow {
  color: var(--option-style);
}

.githubIcon {
  height: 1.563em;
  margin-left: 0.313em;
}

.creating {
  padding-right: 0;
  padding-left: 0;
}

.cardContainer,
.about,
.contact {
  width: 50vh;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  border: var(--border-lightgrey);
  border-radius: 10px;
  justify-content: space-around;
  align-items: center;
  padding: 2.188em;
  background-color: var(--bg-sub-style);
}

.githubIcon--contact {
  color: var(--icons-color);
  font-size: 1.875em;
}

.userDetails {
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  column-gap: 2em;
}

.register,
.login,
.contact {
  height: fit-content;
  width: fit-content;
  row-gap: 1em;
}

.about {
  height: fit-content;
  width: 60%;
  margin-top: 5vh;
  row-gap: 2em;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 1.25em;
}

.card {
  display: flex;
  flex-direction: column;
  border: var(--border-lightgrey);
  border-radius: 10px;
  align-items: center;
  text-align: center;
  padding: 1.25em;
  row-gap: 0.625em;
  flex: 1 1 0;
}

.card__upper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.313em;
}

.cardButton {
  margin-top: 1.25em;
}

.card--center {
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 0.625em;
  justify-content: center;
}

.card--left,
.card--right {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  row-gap: 1em;
}

.card--left {
  align-items: center;
  width: 40%;
}

.card--right {
  width: 60%;
  justify-content: space-around;
}

.card__contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1.25em;
}

.card__contact div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon--big {
  font-size: 9.375rem;
}

.userCardButton {
  height: 20%;
  justify-content: center;
}

.cardFont--medium {
  font-size: 1.375rem;
}

.cardFont--small {
  font-size: 1rem;
}

.draft {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.subtitle {
  font-size: 3.125rem;
}

.icon--XL {
  font-size: 12.5rem;
  text-align: center;
}

.text {
  color: black;
}

.popupModalBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: unset;
}

.errorPopupContainer {
  width: fit-content;
  height: fit-content;
  margin-top: 65vh;
  width: fit-content;
  background-color: #ecd8e4;
  transform: translateY(200px);
  padding: 0.938em;
  border: 1px solid var(--icons-color);
}

.errorMessages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 0.625em;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--icons-color);
}

.right {
  padding-left: 0.938em;
}

/* Loading spinner ↓↓↓ */
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-top: 10vh;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--icons-color);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* Loading spinner ↑↑↑ */

@media (min-width: 1400px) {
  html {
    font-size: 20px;
  }

  .mainDisplay {
    padding-top: 16vh;
  }

  .postContainer {
    width: 70%;
  }
}

@media (max-width: 1100px) {
  .navBar {
    flex-direction: column;
  }

  .mainTitle {
    margin-left: 0;
  }

  .navigationOptions {
    margin-right: 0;
  }

  .mainDisplay {
    padding-top: 22vh;
  }

  .postContainer {
    width: 90%;
  }

  .allPosts,
  .createNewPost {
    width: 95%;
  }

  .post__text,
  .edit__text {
    line-height: 1.7em;
  }

  .karmaContainer {
    top: 11em;
  }

  .commentContainer {
    top: 20em;
  }

  .cardsContainer {
    flex-direction: column;
    row-gap: 1.25em;
  }
}

@media (max-width: 1100px) and (orientation: landscape) {
  .navBar {
    position: unset;
  }

  .postContainer {
    width: 95%;
    flex-direction: column;
  }

  .leftBar {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .leftBar,
  .karmaContainer,
  .commentContainer,
  .postOptionsContainer,
  .editContainer {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 1em;
  }

  .mainDisplay {
    padding-top: 8vh;
  }

  .bottomBar {
    height: 10vh;
  }
}

@media (max-width: 650px) {
  html {
    font-size: 13px;
  }

  .mainTitle {
    font-size: 2.5rem;
  }

  #createButton {
    font-size: 0.8rem;
  }

  .navigationOptions {
    font-size: 0.7rem;
    column-gap: 1em;
  }

  .mainDisplay {
    padding-top: 13vh;
  }

  .allPosts,
  .createNewPost {
    width: 95%;
  }

  .post__text,
  .edit__text {
    line-height: 1.7em;
  }

  .postContainer {
    width: 95%;
    flex-direction: column;
  }

  .leftBar {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .leftBar,
  .karmaContainer,
  .commentContainer,
  .postOptionsContainer,
  .editContainer {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    column-gap: 1em;
  }

  .bottomBarOptions > .option {
    font-size: 0.8rem;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 12px;
  }

  .navigationOptions {
    font-size: 0.7rem;
  }

  #createButton {
    font-size: 1rem;
  }

  .allPosts,
  .createNewPost {
    width: 98%;
  }

  .post__text,
  .edit__text {
    line-height: 1.6em;
  }

  .bottomBarOptions > .option {
    font-size: 0.7rem;
  }
}
