body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  --main-color: #377ed2;
  --links-color: #377ed2;
  --links-color-hover: #fbcc6a;
  --icons-color: #b51675;
}

.material-icons {
  font-family: 'Material Symbols Rounded';
  color: var(--icons-color);
  font-size: 30px;
}

a {
  text-decoration: none;
  color: var(--links-color);
}

a:hover {
  color: var(--links-color-hover);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  height: 8vh;
  border-bottom: #e2e2e2 solid 1px;
}

.mainTitle {
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
  color: var(--links-color);
}

.navigationOptions {
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  width: 550px;
  justify-content: space-between;
  height: 100%;
}

.option {
  font-size: 25px;
  transition: all 0.3s ease-in-out;
}

.option > div {
  display: flex;
  align-items: center;
  height: 100%;
  transition: inherit;
}

#createButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#createButtonContainer:hover div {
  border: var(--links-color-hover) 1px solid;
}

#createButton {
  border: var(--links-color) 1px solid;
  border-radius: 10px;
  font-size: medium;
  height: 70%;
  padding-left: 10px;
  padding-right: 10px;
}

.mainDisplay {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
  padding-bottom: 50px;
  min-height: 800px;
  width: 100vw;
  background-color: #f5f5f5;
}

.allPosts {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  margin-top: 50px;
}

.post {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  text-align: justify;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  border-color: #dedede;
  padding: 40px;
}

.post__title {
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

.post__author {
  color: grey;
}

.post__author div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.post__dates {
  display: flex;
  flex-direction: row;
}

.post__createTime {
  color: grey;
  font-style: italic;
  font-size: small;
  margin-right: 4px;
}

.post__editTime {
  color: grey;
  font-style: italic;
  font-size: small;
}

.post__text {
  font-size: larger;
  line-height: 36px;
}

.post__interactions {
  display: flex;
  justify-content: left;
  color: grey;
}

.post__interactions--karma {
  margin-right: 50px;
}

.post__interactions--karma div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.post__interactions--comments div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

div.comment.depth0 {
  margin-left: 25px;
}

div.comment.depth1 {
  margin-left: 50px;
}

div.comment.depth2 {
  margin-left: 75px;
}

div.comment.depth3 {
  margin-left: 100px;
}

.voted {
  background-color: red;
}

.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}

.modalBackground.show {
  opacity: 1;
  pointer-events: visible;
}

.modalContent {
  width: 400px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 1);
}

.modalBackground.show .modalContent {
  transform: translateY(0);
}

.bottomBar {
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 5vh;
  background-color: #e5e5e5;
  color: grey;
}

.bottomBarOptions {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.bottomBarOptions > .option {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

#upArrow {
  color: grey;
}
